<h2>Without Signal</h2>
<h3>Sum is {{sum}}</h3>
<button (click)="changeValue()">Change Value</button>
<hr>
<h2>With Signal</h2>
<h3>Sum is {{sum2()}}</h3>
<button (click)="changeSignalValue()">Change SIgnal Value</button>

<hr>
<!--
<app-signals-counter></app-signals-counter>

<app-new-directives></app-new-directives>
-->

@defer (on timer(5s)) {
    <app-deferred></app-deferred>
}@placeholder {
    <h3>Component will load here in 5 seconds</h3>
}

@defer (on hover) {
    <app-deferred></app-deferred>
}@placeholder {
    <h3>Component will load on mouse over</h3>
}
