<nav>
  <ul>
    <li><a routerLink="adduser">add user</a></li>
    <li><a routerLink="users">list users</a></li>
    <li><a routerLink="remove">remove user</a></li>
    <li><a routerLink="user">User details</a></li>
    <li><a routerLink="edit">edit user</a></li>
    <li><a routerLink="admin">admin</a></li>
    <li><a routerLink="superuser">superuser</a></li>
    <li><a routerLink="store">store</a></li>
    <li><a routerLink="store2">store2</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>